@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

/*Soft-reset styles of input*/
input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: -webkit-fill-available;
}
input:focus-visible{
    outline: none;
}

/*Structure of the website without the elements those will change in dark mode*/
body{
    margin: 0px 0px;
    background: url(../images/bg-desktop-light.jpg) hsl(0, 0%, 98%) no-repeat;
    background-size: contain;
    height: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
nav>img{
    cursor:pointer;
}
h1{
    cursor: default;
    font-weight: bold;
    font-size:2.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


.content{
    padding-top: 10vh;
    width: 40%;
    margin: 0 auto;
}

.checkbox,.circle{
    border: 1.5px solid hsl(233, 11%, 84%) ;
    border-radius: 20px;
    transition: 2s;
    cursor: pointer;
    margin: 0px 10px;
    padding: 5px;
}
.checkbox:hover{
    
    border: 1.5px solid transparent ;
    border-image: linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);
    border-image-slice: 1;
}
.ok-checkbox{
    background: url(../images/icon-check.svg);
    background-image: linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);
}
.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.task>p:hover{
    cursor: grab;
}
.list {
    background: rgb(255, 255, 255);
    margin: 1.5em auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 16px -2px  hsl(236, 9%, 61%); 
    box-shadow: 0px 6px 16px -2px  hsl(236, 9%, 61%);
}
.text-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: rgb(255, 255, 255);
    padding: 15px 0;
    border-radius: 5px;  
}

.separador{
    border-bottom: 1px solid hsl(233, 11%, 84%);
}
.tools,.tools>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.tools p {
    padding: 0 10px;
    cursor: pointer;
}
#itemsLeft{
    cursor: default;
}
.attribution{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.attribution p,.info{
    color:hsl(233, 14%, 35%);
    text-align: center;
}
.attribution>p>a{
    color: indianred;
}
.attribution>p>a:hover{
    color: blue;
}
/*Style for dark-mode*/
.dark-mode{
    background: url(../images/bg-desktop-dark.jpg) hsl(235, 21%, 11%) no-repeat;
    background-size: contain;
}
body.dark-mode p{
    color:hsl(234, 39%, 85%);
}
body.dark-mode .list {
    background: hsl(235, 24%, 19%);
    margin: 1.5em auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 16px -2px  hsl(235, 21%, 11%); 
    box-shadow: 0px 6px 16px -2px  hsl(235, 21%, 11%);
}
body.dark-mode .text-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: hsl(235, 24%, 19%);
    padding: 15px 0;
    border-radius: 5px;  
}

body.dark-mode .separador{
    border-bottom: 1px solid hsl(233, 14%, 35%);
}
.drag-over {
    background-image: linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);;
    cursor: grabbing;
}