@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

/*Soft-reset styles of input*/
input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: -webkit-fill-available;
}
input:focus-visible{
    outline: none;
}

/*Structure of the website without the elements those will change in dark mode*/
body{
    margin: 0px 0px;
    background: url(../images/bg-desktop-light.jpg) hsl(0, 0%, 98%) no-repeat;
    background-size: contain;
    height: auto;
    transition: 1s;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
nav>img{
    cursor:pointer;
}
h1{
    cursor: default;
    font-weight: bold;
    font-size:2.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


.content{
    padding-top: 10vh;
    width: 40%;
    margin: 0 auto;
}

.checkbox,.circle{
    background:hsl(233, 11%, 84%);
    position: relative;
    border-radius: 100%;
    margin: 0px 10px;
    padding: 10px;
    transition: 2s;
}
.checkbox:after,.circle::after {
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
    background: white;
    padding: 8px;
    border-radius: 100%;
}
body .container .content .checkbox:hover{
    cursor:pointer;
    background: linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);
}
.task{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.task::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: hsl(233, 11%, 84%);
}
.task>p:hover{
    cursor: grab;
}
.task-done{
    color:hsl(236, 9%, 61%);
    text-decoration: line-through;
}
body .container .content .task-done .checkbox{
    position: relative;
    background: linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);
    background-repeat: no-repeat;
    border-radius: 100%;
    cursor: pointer;
    margin: 0px 10px;
    padding: 10px;
}
body .container .content .list .task-done .checkbox:after {
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
    background:url(../images/icon-check.svg);
    background-color:linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
    border-radius: 100%;
}

.list {
    background: rgb(255, 255, 255);
    margin: 1.5em auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 16px -2px  hsl(236, 9%, 61%); 
    box-shadow: 0px 6px 16px -2px  hsl(236, 9%, 61%);
}
.text-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: rgb(255, 255, 255);
    padding: 15px 0;
    border-radius: 5px;  
}

.tools,.tools>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.tools p {
    color: hsl(236, 9%, 61%);
    padding: 0 10px;
    cursor: pointer;
}
#itemsLeft{
    cursor: default;
}

.pages > p:hover,p#clear:hover{
    color: hsl(235, 19%, 35%);
}
body .active, body.dark-mode .tools div .active{
    color: dodgerblue;
}
.attribution{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.attribution p,.info{
    color:hsl(233, 14%, 35%);
    text-align: center;
}
.attribution>p>a{
    color: indianred;
}
.attribution>p>a:hover{
    color: blue;
}
/*Style for dark-mode*/
.dark-mode{
    background: url(../images/bg-desktop-dark.jpg) hsl(235, 21%, 11%) no-repeat;
    background-size: contain;
}
body.dark-mode p{
    color:hsl(236, 33%, 92%);
}
body.dark-mode .list {
    background: hsl(235, 24%, 19%);
    margin: 1.5em auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 16px -2px  hsl(235, 21%, 11%); 
    box-shadow: 0px 6px 16px -2px  hsl(235, 21%, 11%);
}
body.dark-mode .task-done p{
    color:hsl(235, 19%, 35%);
    text-decoration: line-through;
}
body.dark-mode .text-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: hsl(235, 24%, 19%);
    padding: 15px 0;
    border-radius: 5px;  
}
body.dark-mode .tools p {
    color: hsl(235, 19%, 35%);
    padding: 0 10px;
    cursor: pointer;
}

body.dark-mode .pages > p:hover, body.dark-mode p#clear:hover{
    color: hsl(236, 33%, 92%);
}
body.dark-mode .task::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: hsl(233, 14%, 35%);
}
body.dark-mode .checkbox,body.dark-mode .circle{
    background: hsl(233, 14%, 35%);
    position: relative;
    border-radius: 100%;
    margin: 0px 10px;
    padding: 10px;
    transition: 2s;
}
body.dark-mode .checkbox:after,body.dark-mode .circle::after {
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
    background: hsl(235, 24%, 19%);
    padding: 8px;
    border-radius: 100%;
}
.drag-over {
    background-image: linear-gradient(315deg, rgb(192,88,243,1) 0%, rgb(87,222,255,1) 100%);;
    cursor: grabbing;
}